<main class="container mt-5">
    <h1>Lenovo Yoga Pro 7 14IRH8</h1>
    <img src="images/82y700d6ed-p7-300x300.webp" alt="Laptop 1"
        class="img-fluid">
    <p>Lenovo Yoga Pro 7 14IRH8 Laptop Intel Ci7-13700H 16GB RAM 1TB SSD
        RTX 3050 6GB 14.5" 3K 120Hz Win11 Storm Grey – 2Years Warranty -
        82Y700D6ED</p>
    <p id="st1"> $84999 </p>
    <p>
        <ul>
            <li>Processor: Intel® Core i7-1355U, up to 5.0 GHz, 10
                Cores</li>
            <li> Memory: 16 GB LPDDR5-6400 MHz RAM (onboard) </li>
            <li> Storage: 1 TB PCIe® NVMe™ TLC SSD </li>
            <li> Display: 14" diagonal, WUXGA (1920 x 1200), touch,
            </li>
            <li> Graphics: Intel® Iris® Xᵉ Graphics </li>
            <li> Sensor: Fingerprint sensor </li>
            <li> OS and Color: Windows 11 - Silver </li>
        </ul>

    <button class="btn btn-success m-2"
        onclick="addToCart('product1', 84999)">Add to Cart</button>
    <a href="Cart" class="btn btn-primary">Go to Cart</a>
</main>