<main class="container mt-5 mb-10">
    <h1>Our Products</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="images/82y700d6ed-p7-300x300.webp"
                    class="card-img-top" alt="Laptop 1">
                <div class="card-body">
                    <h5 class="card-title">Lenovo Yoga Pro 7 14IRH8</h5>
                    <p class="card-text">$84999</p>
                    <a href = "Products-details"
                        class="btn btn-primary m-2">View Details</a>
                        <button class="btn btn-success"
        onclick="addToCart('product1', 0)">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="images/asus-90nr0cz1-m003s0-p1-300x300.webp"
                    class="card-img-top" alt="Laptop 1">
                <div class="card-body">
                    <h5 class="card-title">Lenovo Yoga Pro 7 14IRH8</h5>
                    <p class="card-text">$84999</p>
                    <a href = "Products-details"
                        class="btn btn-primary m-2">View Details</a>
                        <button class="btn btn-success"
        onclick="addToCart('product1', 0)">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="images/dell-vostro-3520-300x300.webp"
                    class="card-img-top" alt="Laptop 1">
                <div class="card-body">
                    <h5 class="card-title">Lenovo Yoga Pro 7 14IRH8</h5>
                    <p class="card-text">$84999</p>
                    <a href = "Products-details"
                        class="btn btn-primary m-2">View Details</a>
                        <button class="btn btn-success"
        onclick="addToCart('product1', 0)">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="images/ideapad-duet3-p1-300x300.webp"
                    class="card-img-top" alt="Laptop 1">
                <div class="card-body">
                    <h5 class="card-title">Lenovo Yoga Pro 7 14IRH8</h5>
                    <p class="card-text">$84999</p>
                    <a href = "Products-details"
                        class="btn btn-primary m-2">View Details</a>
                        <button class="btn btn-success"
        onclick="addToCart('product1', 0)">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="images/hp-elite-x360-g10-p1-300x300.webp"
                    class="card-img-top" alt="Laptop 1">
                <div class="card-body">
                    <h5 class="card-title">Lenovo Yoga Pro 7 14IRH8</h5>
                    <p class="card-text">$84999</p>
                    <a href = "Products-details"
                        class="btn btn-primary m-2">View Details</a>
                        <button class="btn btn-success"
        onclick="addToCart('product1', 0)">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="images/lenovo-loq-15iax9-2yrs-300x300.webp"
                    class="card-img-top" alt="Laptop 1">
                <div class="card-body">
                    <h5 class="card-title">Lenovo Yoga Pro 7 14IRH8</h5>
                    <p class="card-text">$84999</p>
                    <a href = "Products-details"
                        class="btn btn-primary m-2">View Details</a>
                        <button class="btn btn-success"
        onclick="addToCart('product1', 0)">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="images/lenovo-83dv00aved-300x300.webp"
                    class="card-img-top" alt="Laptop 1">
                <div class="card-body">
                    <h5 class="card-title">Lenovo Yoga Pro 7 14IRH8</h5>
                    <p class="card-text">$84999</p>
                    <a href = "Products-details"
                        class="btn btn-primary m-2">View Details</a>
                        <button class="btn btn-success"
        onclick="addToCart('product1', 0)">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="images/ideapad-slim-83em0081ed-300x300.webp"
                    class="card-img-top" alt="Laptop 1">
                <div class="card-body">
                    <h5 class="card-title">Lenovo Yoga Pro 7 14IRH8</h5>
                    <p class="card-text">$84999</p>
                    <a href = "Products-details"
                        class="btn btn-primary m-2">View Details</a>
                        <button class="btn btn-success"
        onclick="addToCart('product1', 0)">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="images/asus-ux5304ma-nq007ws-p1-300x300.webp"
                    class="card-img-top" alt="Laptop 1">
                <div class="card-body">
                    <h5 class="card-title">Lenovo Yoga Pro 7 14IRH8</h5>
                    <p class="card-text">$84999</p>
                    <a href = "Products-details"
                        class="btn btn-primary m-2">View Details</a>
                        <button class="btn btn-success"
        onclick="addToCart('product1', 0)">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</main>