<main class="container mt-5">
    <h1>Welcome to <span id="st1">MTECH</span> Store</h1>
    <p class="par1">Your <span id="st1"> one-stop</span> shop for the
        best laptops.</p>
    <div class="first section mb-10">

        <div class="row ">
            <div class="col-md-4 mb-10" >
                <div class="card">
                    <img src="images/82y700d6ed-p7-300x300.webp"  class="card-img-top"
                        alt="Laptop 1">
                    <div class="card-body">
                        <h5 class="card-title">Lenovo Yoga Pro 7 14IRH8
                            Laptop Intel Ci7-13700H 16GB RAM 1TB SSD RTX
                            3050 6GB 14.5" 3K 120Hz Win11 Storm Grey –
                            2Years Warranty - 82Y700D6ED</h5>
                        <p class="card-text">$84999</p>
                        <a href = "Products-details"
                        class="btn btn-primary m-2">View Details</a>
                            <button class="btn btn-success"
        onclick="addToCart('product1', 0)">Add to Cart</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="images/83dg004wed-p1-300x300.webp"
                        class="card-img-top" id="ad" class="card-img-top" alt="Laptop 1">
                    <div class="card-body">
                        <h5 class="card-title">Lenovo Legion 5 16IRX9
                            Gaming Laptop Intel Ci7-14650HX 16GB RAM 1TB
                            SSD RTX 4060 8GB, 16" WQXGA 240Hz Win11 +
                            MousePad -2 Years Warranty</h5>
                        <p class="card-text">$83999</p>
                        <a href = "Products-details"
                        class="btn btn-primary m-2">View Details</a>
                            <button class="btn btn-success"
        onclick="addToCart('product1', 0)">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="images/82qd00aued-p1-300x300.webp" id="ad"
                        class="card-img-top" class="card-img-top" alt="Laptop 1">
                    <div class="card-body">
                        <h5 class="card-title">Lenovo IdeaPad 1 15IAU7
                            Laptop Intel Ci7-1255U 8GB RAM 512GB SSD
                            Intel Iris Xe Graphics 15.6-inch FHD Win11
                            Cloud Grey + Bag - 2 Years - 82QD00AXED</h5>
                        <p class="card-text">$31999</p>
                        <a href = "Products-details"
                        class="btn btn-primary m-2">View Details</a>
                            <button class="btn btn-success"
        onclick="addToCart('product1', 0)">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card">
                    <img
                        src="images/asus-x1502za-bq007w-p1-300x300.webp"
                        class="card-img-top" class="card-img-top" alt="Laptop 1">
                    <div class="card-body">
                        <h5 class="card-title">ASUS Vivobook 15
                            X1504VA-NJ005W Laptop Intel Ci5-1335U 8GB
                            RAM 512GB SSD Intel Iris Xe Graphics
                            15.6-Inch FHD Win11 Quite Blue -
                            90NB10J1-M008L0</h5>
                        <p class="card-text">$24999</p>
                        <a href = "Products-details"
                        class="btn btn-primary m-2">View Details</a>
                            <button class="btn btn-success"
        onclick="addToCart('product1', 0)">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="images/dell-vostro-3520-300x300.webp"
                        class="card-img-top" class="card-img-top" alt="Laptop 1">
                    <div class="card-body">
                        <h5 class="card-title">DELL Vostro 3520 Laptop
                            Intel Ci5-1235U 8GB RAM 512GB SSD Nvidia
                            GeForce MX550 2G DDR6 15.6-inch FHD 120Hz
                            Ubuntu Black</h5>
                        <p class="card-text">$30400</p>
                        <a href = "Products-details"
                        class="btn btn-primary m-2">View Details</a>
                            <button class="btn btn-success"
        onclick="addToCart('product1', 0)">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="images/dell-laptop-5530-300x300.webp"
                        class="card-img-top" class="card-img-top" alt="Laptop 1">
                    <div class="card-body">
                        <h5 class="card-title">Dell Latitude 5530 Laptop
                            Intel Ci5-1235U 16GB RAM 1TB Samsung SSD
                            Intel Iris Xe Graphics 15.6 Inch FHD
                            FingerPrint 3Years warranty</h5>
                        <p class="card-text">$50500</p>
                        <a href = "Products-details"
                        class="btn btn-primary m-2">View Details</a>
                            <button class="btn btn-success"
        onclick="addToCart('product1', 0)">Add to Cart</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="ad ">
            <img src="images/home-and-landing-page1200x410-copy.png"
                alt>
        </div>

        <div class="container mt-5 mb-10">
            <h2 class="text-center">Featured Products</h2>
            <div id="cardSlider" class="carousel slide"
                data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img
                                            src="images/asus-90nr0cz1-m003s0-p1-300x300.webp"
                                            id="ad"  alt>

                                        <p class="card-text">Asus ROG
                                            Strix G614JZ-NN007W Gaming
                                            Laptop 16-inch 165Hz Intel
                                            Ci7-13650HX 16GB RAM 1TB SSD
                                            RTX 4080 12GB Eclipse Grey
                                           </p>
                                            <a href = "Products-details"
                                            class="btn btn-primary m-2">View Details</a>
                                            <button class="btn btn-success"
                                        onclick="addToCart('product1', 0)">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img
                                            src="images/dell-laptop-5530-300x300.webp"
                                            id="ad" alt>
                                        <p class="card-text">Dell
                                            Latitude 5530 Laptop Intel
                                            Ci5-1235U 16GB RAM 1TB
                                            Samsung SSD Intel Iris Xe
                                            Graphics 15.6 Inch FHD
                                            FingerPrint - Grey - 3Years
                                            warranty</p>
                                            <a href = "Products-details"
                                            class="btn btn-primary m-2">View Details</a>
                                            <button class="btn btn-success"
                                    onclick="addToCart('product1', 0)">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img
                                            src="images/dell-vostro-3520-300x300.webp"
                                            id="ad" alt>
                                        <p class="card-text">DELL Vostro
                                            3520 Laptop Intel Ci5-1235U
                                            8GB RAM 512GB SSD Nvidia
                                            GeForce MX550 2G DDR6
                                            15.6-inch FHD 120Hz Ubuntu
                                            Black</p>
                                            <a href = "Products-details"
                                            class="btn btn-primary m-2">View Details</a>
                                            <button class="btn btn-success"
        onclick="addToCart('product1', 0)">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img
                                            src="images/g834jzr-n6027w-gift-300x300.webp"
                                            id="ad" alt>

                                        <p class="card-text">Asus ROG
                                            Strix SCAR 18 G834JZR-N6027W
                                            Gaming Laptop Intel Ci9
                                            14900HX 32GB 1TB SSD Nvidia
                                            GeForce RTX 4080 12GB
                                            18-inch 240Hz WIN11
                                            90NR0IN2-M000Y0</p>
                                            <a href = "Products-details"
                                            class="btn btn-primary m-2">View Details</a>
                                            <button class="btn btn-success"
        onclick="addToCart('product1', 0)">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img
                                            src="images/gu605my-qr061w-p1-300x300.webp"
                                            id="ad" alt>
                                        <p class="card-text">Asus ROG
                                            Zephyrus G16 GU605MY-QR061W
                                            Gaming Laptop Intel Core
                                            Ultra 9-185H 32GB RAM 2TB
                                            SSD RTX 4090 16GB 16-inch
                                            240Hz Win11 Gray -
                                            90NR0IQ5-M002Y0</p>
                                            <a href = "Products-details"
                                            class="btn btn-primary m-2">View Details</a>
                                            <button class="btn btn-success"
        onclick="addToCart('product1', 0)">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img
                                            src="images/hp-elite-x360-g10-p1-300x300.webp"
                                            id="ad" alt>
                                        <p class="card-text">HP Elite
                                            X360 1040 G10 2-in-1
                                            Notebook PC, Intel Ci7-1355U
                                            16GB RAM 1TB SSD Intel Xe
                                            Graphics 14” WUXGA Touch
                                            Finger Print Win11 Silver -
                                            8A4G4EA -5MP camera with HP
                                            Auto Frame</p>
                                            <a href = "Products-details"
                                            class="btn btn-primary m-2">View Details</a>
                                            <button class="btn btn-success"
        onclick="addToCart('product1',0)">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#cardSlider"
                    role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"
                        aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#cardSlider"
                    role="button" data-slide="next">
                    <span class="carousel-control-next-icon"
                        aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>