<main class="container mt-5 ">
    <h1>Your Cart</h1>
    <table class="table ">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="cart-body">
            <!-- Dynamic content will be inserted here -->
        </tbody>
    </table>

    <div class="d-flex justify-content-between mt-3">
        <h4 id="total-price">Total: $0</h4>
        <div>
            <a href="Products" class="btn btn-secondary m-2">Continue Shopping</a>
            <a href="Checkout" class="btn btn-primary">Proceed to Checkout</a>
        </div>
    </div>
    <br>
    <br>
    <br><br><br>
</main>